{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}





<div class="container">

    <h1 style="text-align:center; color:black;">
  
  
    <div class="mail">
      <form role="search" action="{% url 'search_results' %}">
        <input type="text" name="username" class="formStyle" placeholder="Search" required>
        <button style="border:0px;" type="submit" class="formButton">Search</button>
      </form>
    </div>
    <div style=" height:4px;">
      <!-- <img src="http://pluspng.com/img-png/gold-award-png-accolade-merit-logo-gold-award-2017.png" style="width: 10%; padding: 10px; position: center" class="text-center">      -->
       <h1 class="text-center heading"><i class="fas fa-award"  style="margin-top:50px;"></i  style="margin-top:30px;"> AWARDS</h1>
        <h4 class="text-center heading">Our growth depends on your feedback</h4>
   </div>


{% comment %} <style>
   body {
       background-color: lawngreen;
   }
</style> {% endcomment %}

<div class="container-fluid">
   
   <div class="row" style="margin-top:30px;">
       {% for image in all_images%}

       <div class="col-md-5 main-page d-flex"  style=" margin-top: 40px; margin-bottom:50px;">
           <div class="card card-cascade wider flex-fill ">

               <!-- Card image -->
               <div class="">
                   <a data-toggle="modal" data-target="#{{image.id}}"><img class="card-img-top"
                           src="{{image.image.url}}" alt="{{image.title}}" height="250px" width="300px"></a>
               </div>
               <div class=""></div>
               <!--Card content-->
               <div class="card-body">

                   <!--Title-->
                   <h4 class="card-title">{{image.title}}</h4>
                   <!--Text-->
                   <p class="card-text">{{image.details}}</p>
                   <p><a href="{{image.link}}">Live Project Link</a></p>                    
                   
                   <a href="{% url 'project_review' image.pk %}" class="btn btn-primary btn-md" target="_blank">Review Project</a>

               </div>
           </div>
       </div>
       <div col-md-5 main-page d-flex ></div>
       <!--Modal: modalYT-->
       <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
           <div class="modal-dialog modal-lg" role="document">                               
                       <div class="embed-responsive embed-responsive-16by9">
                           <img class="embed-responsive-item" src="{{image.image.url}}" alt="Image Loading"
                               style="margin:10px;" allowfullscreen>
                       </div>                              

           </div>
       </div>
       <!--Modal: modalYT-->
<br>
<br>

       {% empty %}
   

       <div class="container">
       <div class="row">
           <h1 class="text-center" style="font-style:italics;"> No Projects Yet</h1>
       </div>
       {% endfor %}
   </div>
   <!-- Card deck -->
   <div class="row">
   </div>
   
</div>
</div>
  
  
  </div>


{% endblock %}