<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div>
            <a href="/">Home</a>

        </div>
    </div>
    

    {% if request.user.profile_pic %}
    <section> <img
            style="border-radius: 50% ; padding: 0.15rem;   background: linear-gradient(to right bottom, #2cd8a4, #2ec97b);"
            class=" img-circle" src="{{request.user.profile.profile_pic.url}}" alt="" width="50px" height="50px"">  </section> <br>
                {% else %}
                     
                {% endif %}

                <div class=" dropdown">
        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton btn-2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <h6><a href="#" style="color: white;">{{ user.username}}</a></h6>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
        </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="#"> <img style="border-radius: 50% ; padding: 0.15rem; " class=" img-circle"
                            src="{{request.user.profile.profile_pic.url}}" alt="" width="30px" height="30px"> </a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li> <a href="{% url 'profile' %}">Profile</a></li>

                <li><a href="{% url 'new-project' %}">Submit Project</a></li>
                {% if user.is_authenticated %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/accounts/password/change">Change Password</a>
                        </li>

                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/accounts/login">Login</a>
                        </li>

                {% endif %}


                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>