<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div>
            <a href="/">Home</a>

        </div>
    </div>
    {% if user.is_authenticated %}

    {% if request.user.profile.profile_pic %}
    <section> <img
            style="border-radius: 50% ; padding: 0.15rem;   background: linear-gradient(to right bottom, #2cd8a4, #2ec97b);"
            class=" img-circle" src="{{request.user.profile.profile_pic.url}}" alt="" width="50px" height="50px"">  </section> <br>
                {% else %}
                     
                {% endif %}

                <div class=" dropdown">
        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton btn-2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <h6><a href="#" style="color: white;">{{ user.username}}</a></h6>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
        </div>
        </div>
        <a href="{% url 'new_projects' %}"><button id="btn-2">Submit Project</button></a>

        {% else %}

        <button class="btn-2"> <a href="#"><i style="color:blue;" class="fa fa-settings fa-2x"></i></a> <a
                href="/accounts/login" style="color: white;">Log In</a> </button>


        {% endif %}
        <div class="red" id="ohmy">

        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
            <hr>

        </div>

        <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                        aria-expanded="false">Account
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                       
                        <li>
                            <a href="/accounts/password/change">Change Password</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <li>
                <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
        </div>



        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "0px";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                document.body.style.backgroundColor = "white";
            }
        </script>
</nav>