



{%extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}




{% block content %}

<body>
    <div class="container">


        <div class="card-body">
                <form  action="/projects/{{post.id}}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                
                    { {form} }
                    <input type="submit" class="btn btn-warning btn-sm" value="Post">
                </form>
        </div>
    </div>



    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>
{% endblock%}


</html>