{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">
    <h1 class="text-center heading"><i class="fas fa-award"></i> AWARDS</h1>
    <!-- Card -->
    <div class="card card-cascade wider reverse review" style="margin-top:10px;">

        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top" src="{{single_project.image.url}}" alt="Card image cap">
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title"><strong>{{single_project.title}}</strong></h4>
            <!-- Subtitle -->
            <a href="/{{single_project.link}}" class="font-weight-bold indigo-text py-2">Visit Site</a>
            <!-- Text -->
            <p class="card-text">{{single_project.details}}</p>
            <div class="row">
                <div class="col-md-3">Design <span
                        class="badge badge-pill badge-secondary">{{single_project.design}}</span></div>
                <div class="col-md-3">Usability <span
                        class="badge badge-pill badge-info">{{single_project.usability}}</span></div>
                <div class="col-md-3">Content <span
                        class="badge badge-pill badge-danger">{{single_project.content}}</span></div>
                        <div class="col-md-3"></div>
            </div>
            <h3 style="margin:20px;">Average Score <span class="badge badge-primary">{{average_score}}</span></h3>
            <a href="" class="btn btn-success btn-rounded btn-block" data-toggle="modal"
                data-target="#{{single_project.id}}">Vote</a>
            <!-- Modal -->
            <div class="modal fade bd-example-modal-md" id="{{single_project.id}}" tabindex="-1" role="dialog"
                aria-labelledby="projectTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="projectTitle">Rate Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="{% url 'project_review' single_project.pk %}" action="" method="post"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form vote_form%}

                                <div class="form-group">
                                    <input type="submit" class="btn mx-auto" value="Submit Vote">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Card -->
</div>
{% endblock %}